.container{
    margin: auto;
    text-align: center;
    width: 60%;
    padding: 0 5%;
    background-color: white;
}
.container p{
    line-height: 1.4;
    text-align: start;
}

.syllbus_section_ul li{
    text-align: start;
}

.btn_group{
    display: flex;
    flex-direction: column;
}